body
{
    color:red;
    background-image: url(../imgs/break.jfif);
}

h1{
    font-family: monospace;
    font-size: 40px;
    text-align: center;
    color: aqua;
    background-image: url("../imgs/eatables.jpeg");
    font-style: italic;
    width: 100%;
    border: 2px solid #4CAF50;
    height: 400px;
    }

#nav{
    color: red;
    
}

a:hover {
      background-image: url(../imgs/eggs.jfif);
}
td{
    border-bottom-style: inset;
    border-bottom-color: aquamarine;
    border-radius: 40px;
    font-size: 30px;
    
    
}
td:hover{
    background-color: beige;
}
th{
    font-size: 30px;
  
  
}
th:hover{
    background-color: bisque;

}













